@import '../../x-screen/x-screen.css';
@import '../screen-success/screen-success.css';
@import '../../../secure-elements/x-loading-animation/x-loading-animation.css';
@import '../../../secure-elements/x-account-backup-import/x-account-backup-import.css';
@import '../../../secure-elements/x-passphrase-input/x-passphrase-input.css';

screen-backup-file-import-password {
	justify-content: stretch;
}

screen-backup-file-import-intro h2 {
    padding-bottom: 16px !important;
}

#screen-backup-file-import-password-error {
	margin-bottom: 15px;
}