@import '../../x-screen/x-screen.css';
@import '../../x-wallet-backup/x-wallet-backup.css';
@import '../../../secure-elements/x-loading-animation/x-loading-animation.css';
@import '../../x-success-mark/x-success-mark.css';
@import '../../../secure-elements/x-passphrase-setter/x-passphrase-setter.css';
@import '../../x-slide-indicator/x-slide-indicator.css';
@import '../screen-backup-file-import/screen-backup-file-import.css';
@import "../../x-toast/x-toast.css";

@media (max-height: 480px){
	screen-create-password button,
    screen-backup-file-import-password button {
		display: none;
	}

    screen-backup-file-import-password h2 {
        padding-bottom: 0 !important;
    }

    x-screen, x-screen-fit {
        height: 85vh !important;
    }
}

@media(max-height: 700px){
	screen-backup-file a[secondary] {
		position: absolute;
		bottom: 25px;
	}
}