@import "../x-screen/x-screen.css";
@import '../../../secure-elements/x-toast/x-toast.css';
@import '../../x-address-input/x-address-input.css';
@import '../../x-address-file-input/x-address-file-input.css';
@import "../../x-address-scanner/x-address-scanner.css";

screen-recipient {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

screen-recipient-intro>[background] {
    background-image: url('/elements/legacy/screen-recipient/recipient-intro.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    animation: from-bottom 1500ms;
    top: 128px;
    bottom: -42px;
    width: 100%;
}

screen-recipient-intro>button,
screen-recipient-intro>a[secondary] {
    animation: fade 0.7s 1s both;
}


screen-recipient-intro> :not([background]) {
    z-index: 1;
}

screen-recipient-scanner x-address-input.x-address {
    max-width: 100%;
}


/* Hide address-input if not focused */

screen-recipient-scanner x-address-input input:not(:focus) {
    opacity: 0;
    cursor: pointer;
}

screen-recipient-scanner x-address-input .prefix {
    transition: opacity 300ms;
}

screen-recipient-scanner x-address-input input:not(:focus)~.prefix {
    opacity: 0;
}



screen-recipient-fallback a[secondary] {
    animation: from-bottom 1s;
}