@import '../x-screen/x-screen.css';
@import '../screen-success/screen-success.css';
@import '../x-loading-animation/x-loading-animation.css';
@import '../x-wallet-backup-import/x-wallet-backup-import.css';
@import '../x-password-input/x-password-input.css';

@media (max-height: 480px){
	screen-create-password-import button{
		display: none;
	}

	x-screen, x-screen-fit {
		height: 85vh !important;
	}
}

screen-backup-file-import-password {
	justify-content: stretch;
}

#screen-backup-file-import-password-error {
	margin-bottom: 15px;
}