@import '/libraries/nimiq-style/nimiq-style.css';

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-grow: 1;
    margin: 0;
    background: var(--primary-background);
    color: white;
}

body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: flex !important;
    will-change: unset !important;
    transform: none !important;
    animation: none !important;
    animation-fill-mode: none !important;
}

.x-screen,
.x-screen-fit {
    will-change: transform;
    transform-origin: center;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    animation-fill-mode: both;
    animation-duration: 600ms;
}

.x-screen {
    padding: 24px 16px;
    box-sizing: border-box;
}

.x-entry-animation {
    animation-name: from-right;
}

.x-exit-animation-reverse {
    animation-name: from-left;
}

.x-exit-animation {
    animation-name: from-left;
}

.x-entry-animation-reverse {
    animation-name: from-right;
}

.x-exit-animation,
.x-entry-animation-reverse {
    animation-direction: reverse;
    animation-duration: 300ms;
}

x-slides{
    flex-grow: 1;
    width: 100%;
    position: relative;
}

@media (min-width: 420px) {
    .x-screen,
    .x-slides {
        max-width: 800px;
        max-height: 672px;
        padding: 32px 88px 48px;
    }
}