@import '/library/nimiq-style/nimiq-style.css';

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-grow: 1;
    margin: 0;
    background: #EEEEEE;
    color: white;
    background: var(--primary-background);
}

.x-screen, .x-parent-screen {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    animation-fill-mode: both;
    animation-duration: 600ms;
}

.x-parent-screen {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    pointer-events: none;
}

.x-screen {
    padding: 24px 16px;
    box-sizing: border-box;
}

.x-entry-animation {
    animation-name: from-right;
}

.x-exit-animation-reverse {
    animation-name: from-left;
}

.x-exit-animation {
    animation-name: from-left;
}

.x-entry-animation-reverse {
    animation-name: from-right;
}

.x-exit-animation, 
.x-entry-animation-reverse{
    animation-direction: reverse;
    animation-duration: 300ms;
}


@media (min-width: 420px) {
    .x-screen {
        max-width: 800px;
        max-height: 672px;
        padding: 32px 88px 48px;
    }
}