@import "/libraries/nimiq-style/nimiq-style.css";

x-qr-scanner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    background: #333;
}

x-qr-scanner video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

/* Overlay */

x-qr-scanner [qr-overlay] {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 0 50vmax rgba(0,0,0,0.7);
    overflow: hidden;
    transform: translateZ(0); /* to avoid rendering issues on iPhone */
}

x-qr-scanner [qr-overlay]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="400" width="400"><path d="M0 0v400h400V0zm171.3 134.5h57.5a15.7 15.7 0 0 1 13.5 7.9l28.8 49.8a15.7 15.7 0 0 1 0 15.6l-28.8 49.8a15.7 15.7 0 0 1-13.6 7.9h-57.5a15.7 15.7 0 0 1-13.5-7.9l-28.8-49.8a15.7 15.7 0 0 1 0-15.6l28.8-49.8a15.7 15.7 0 0 1 13.6-7.9z" opacity=".5"/></svg>');
    background-size: cover;
    animation: qr-scanner-animation 400ms infinite alternate ease-in-out;
    will-change: transform;
}

@keyframes qr-scanner-animation {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.01);
    }
}

/* File Selector */

x-qr-scanner > label {
    pointer-events: all;
    z-index: 1;
    background: var(--primary-color);
    position: absolute;
    right: 32px;
    bottom: 32px;
    height: 96px !important;
    width: 96px !important;
    background-size: 48px;
    border-radius: 50%;
    transition: transform .3s;
}

x-qr-scanner > label:hover {
    transform: scale(1.1);
}

x-qr-scanner > label > input[type="file"] {
    display: none;
}

@media (max-width: 550px) {
    x-qr-scanner > label {
        right: 24px;
        bottom: 24px;
        height: 64px !important;
        width: 64px !important;
        background-size: 32px;
    }
}