.x-qr-scanner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    background: #333;
}

.x-qr-scanner video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

/* Overlay */

x-qr-scanner-overlay {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 0 50vmax rgba(0,0,0,0.7);
    overflow: hidden;
}
