@import "/library/nimiq-style/nimiq-style.css";
@import '../x-address-input/x-address-input.css';

.x-address-scanner-base-page {
    display: block;
}

.x-address-scanner-base-page a[secondary] {
    display: inline-block;
    cursor: pointer;
}

.x-address-scanner-base-page input[type="file"] {
    display: none;
}

.x-address-scanner-base-page x-address-input {
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

.x-address-scanner-base-page x-address-input input {
    line-height: 32px;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    transition: opacity 300ms;
    padding-left: 40px;
}

.x-address-scanner-base-page x-address-input input::placeholder,
.x-address-scanner-base-page x-address-input input::-webkit-input-placeholder {
    text-align: left;
}

.x-address-scanner-base-page [icon-paste] {
    position: absolute;
    pointer-events: none;
}
