@import "/library/nimiq-style/nimiq-style.css";
@import "x-address-scanner-base-page.css";
@import "../x-qr-scanner/x-qr-scanner.css";

x-address-scanner-scanner-page > x-header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    position: absolute;
}

x-address-scanner-scanner-page > x-header > * {
    pointer-events: all;
    cursor: pointer;
}

@media (min-width: 420px) {
    x-address-scanner-scanner-page > x-header {
        padding: 0 16px;
    }
}

x-address-scanner-scanner-page > x-header [fallback-input]:not(:focus) {
    opacity: 0;
}

x-address-scanner-scanner-page > x-header [fallback-input]:focus {
    cursor: auto;
}

x-address-scanner-scanner-page > x-header > [icon-upload] {
    position: relative;
}

x-address-scanner-scanner-page > x-header > [icon-upload].scan-failed:before {
    content: 'Scan failed.';
    position: absolute;
    right: 110%;
    bottom: 12px;
    width: 150px;
    text-align: right;
    animation: fade 1s 0s, fade 1s 3s reverse;
}

x-address-scanner-scanner-page > x-header > [icon-upload].scan-failed {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}


/* Scanner Overlay */

x-address-scanner-scanner-page [qr-overlay] {
    transform: translateZ(0); /* to avoid rendering issues on iPhone */
}

x-address-scanner-scanner-page [qr-overlay]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="400" width="400"><path d="M0 0v400h400V0zm171.3 134.5h57.5a15.7 15.7 0 0 1 13.5 7.9l28.8 49.8a15.7 15.7 0 0 1 0 15.6l-28.8 49.8a15.7 15.7 0 0 1-13.6 7.9h-57.5a15.7 15.7 0 0 1-13.5-7.9l-28.8-49.8a15.7 15.7 0 0 1 0-15.6l28.8-49.8a15.7 15.7 0 0 1 13.6-7.9z" opacity=".5"/></svg>');
    background-size: cover;
    animation: qr-scanner-animation 400ms infinite alternate ease-in-out;
    will-change: transform;
}

@keyframes qr-scanner-animation {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.01);
    }
}
