@import '/library/nimiq-style/nimiq-style.css';
@import 'x-address-scanner-base-page.css';
@import '../x-toast/x-toast.css';

x-address-scanner-fallback-page.x-address-scanner-base-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

x-address-scanner-fallback-page a[secondary] {
    margin-top:16px;
}

x-address-scanner-fallback-page .relative {
    position: relative;
    width: 100%;
}