@import '../x-screen/x-screen.css';
@import '../x-privacy-agent/x-privacy-agent.css';
@import '../x-success-mark/x-success-mark.css';

screen-mnemonic-validate {
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 32px;
    flex-grow: 1;
}

screen-mnemonic-validate p{
    margin-bottom: 32px;
}

screen-mnemonic-validate x-target-index {
    display: block;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 42px;
    font-weight: 200;
}

screen-mnemonic-validate x-target-index::before {
    content: '#';
    font-size: 52px;
}

screen-mnemonic-validate button {
    margin: 4px;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

screen-mnemonic-validate button.correct {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--secondary-text-color);
}

screen-mnemonic-validate button.wrong {
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--secondary-cta-color);
}

x-wordlist {
    display: block;
    height: 180px;
    max-width: 368px;
    margin: 0 auto;
}

