@import '/library/nimiq-style/nimiq-style.css';

/* hide the native file-input to replace it with ours */
.x-qr-file-input label{
	cursor: inherit;
}

.x-qr-file-input input[type="file"] {
    position: absolute;
    opacity: 0;
}