x-slide-indicator {
    margin: auto;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 24px 16px 0;
    min-height: 16px;
    position: absolute;
    bottom: 20px;
}

x-slide-indicator x-dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 3px;
    transition: background-color 0.5s ease-in-out;
    will-change: background-color;
}

x-slide-indicator x-dot[on] {
    background: white;
}

@media (max-height: 700px) {
    x-slide-indicator {
        bottom: 10px;
    }
}